@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(108, 116, 98);
    color: rgba(246, 246, 246, 1);
}

.titulo-destaque{
    color: rgb(243, 192, 130);
}

.linguagens-destaque{
    color: rgb(241, 183, 106);
}

.apresentacao{
    margin: 7% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
}

.apresentacao__conteudo{
    width: 815px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo{
    font-size: 46px;
    text-align: justify;
    font-family:"Spectral", serif;
    font-weight: 100;
    font-style: normal;
}

.apresentacao__conteudo__texto{
    font-size: 20px;
    text-align: justify;
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: rgb(233, 180, 115);
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: rgb(83, 82, 75);
    font-family: "Spectral", serif;
    font-weight: 400;
}